<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/ashish.yaduwanshi.140"> <i class="fa-brands fa-facebook"></i></i></a>
            <a href="https://www.instagram.com/ashishyadu1shii/"> <i class="fa-brands fa-square-instagram"></i></i></a>
            <a href="https://x.com/_ashishyadu1shi"> <i class="fa-brands fa-x-twitter"></i></i></a>

        </div>
        <div class="f-info-brand"> &copy; 2024 || FeelLikeApnaGhar private limited</div>
        <div class="f-info-brand contact-me"> Developer contact: 7489072394 /&nbsp; <a href="mailto:ashishyaduwanshiofficial@gmail.com">Click here to <b>Email </b> </a></div>
        <div class="f-info-links">
            <a href="/">Privacy</a>
            &
            <a href="/">Terms</a>
        </div>
    </div>
</footer>